<thead>
    <tr class="bg-dark">
    <th class="text-warning" scope="col">#</th>
    <th class="text-warning" scope="col">Car No. Plate</th>
    <th class="text-warning" scope="col">Location</th>
    <th class="text-warning" scope="col">Offence</th>
    <th class="text-warning" scope="col">Amount</th>
    <th class="text-warning" scope="col">Offender</th>
    <th class="text-warning" scope="col">Status</th>
    </tr>
</thead>
<tbody>
    <% @appeals.each do |list| %>
        <tr>
        <th scope="row"><%= list.id %></th>
        <td><%= list.complaint.number_plate %></td>
        <td><%= list.location %></td>
        <td><%= list.offence %></td>
        <td><%= list.amount %></td>
        <td><%= list.complaint_id %></td>
        <td><%= list.status %></td>
        </tr>
    <% end %>
</tbody>
