<thead>
    <tr class="table-info">
    <th scope="col">#</th>
    <th scope="col">Car No. Plate</th>
    <th scope="col">Offence</th>
    <th scope="col">Offender</th>
    <th scope="col">Status</th>
    </tr>
</thead>
<tbody>
    <% @appeals.each do |list| %>
        <tr>
        <th scope="row"><%= list.id %></th>
        <td><%= list.location %></td>
        <td><%= list.offence %></td>
        <td><%= list.amount %></td>
        <td><%= list.complaint_id %></td>
        </tr>
    <% end %>
</tbody>
