<style>
    .modal.and.carousel.and.card {
        position: fixed; /*Needed because the carousel overrides the position property.*/
    }
</style>

<div class="container-fluid p-0 bg-dark">
    <div class="row">
        <div class="col-md-2 p-0">
            <header class="nav-down responsive-nav d-md-none">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li><p id="#top">Officer Name:</p></li>
                            <li><p id="#featured"><%= @officer.full_name %></p></li>
                            <li><p id="#projects">Locality:</p></li>
                            <li><p id="#video"><%= @officer.officer_locality %></p></li>
                            <li><p id="#blog">Government ID:</p></li>
                            <li><p id="#contact"><%= @officer.government_id %></p></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="sidebar-navigation d-none d-md-block">
                <div class="logo container-fluid bg-dark img-fluid p-0">
                    <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BMTM0NzYzNDgxMl5BMl5BanBnXkFtZTcwMDg2MTMyMw@@._V1_.jpg">
                </div>
                <nav>
                    <ul>
                        <li>
                            <p id="#top">
                                <span class="rect"></span>
                                Officer Name:
                            </p>
                        </li>
                        <li>
                            <p id="#featured">
                                <span class="rect"></span>
                                <span class="circle"></span>
                                <%= @officer.full_name %>
                            </p>
                        </li>
                        <li>
                            <p id="#projects">
                                <span class="rect"></span>
                                Locality:
                            </p>
                        </li>
                        <li>
                            <p id="#video">
                                <span class="rect"></span>
                                <span class="circle"></span>
                                <%= @officer.officer_locality %>
                            </p>
                        </li>
                        <li>
                            <p id="#blog">
                                <span class="rect"></span>
                                Government ID:
                            </p>
                        </li>
                        <li>
                            <p id="#contact">
                                <span class="rect"></span>
                                <span class="circle"></span>
                                <%= @officer.government_id %>
                            </p>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-10 p-0 bg-dark">
            <div id="officer_option_tabs">
                <div class="justify-content-center sticky-top">
                    <div class="bg-dark pb-2" id="sticky-view">
                        <div class="container text-center bg-dark p-2">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModalCenter">Work</button>
                        </div>
                        </br>
                        <div id="option_tabs" class="bg-dark">
                            <div class="row">
                                <div class="col-4 justify-content-around" id="complaints-tab">
                                    <%= form_with :class =>"d-flex justify-content-around", url: complaints_tab_path, method: :get do |form| %>
                                        <%= form.submit "Complaints", :class => 'btn btn-warning' %>
                                    <% end %>
                                </div>
                                <div class="col-4 justify-content-around" id="appeals-tab">
                                    <%= form_with :class =>"d-flex justify-content-around", url: appeals_tab_path, method: :get do |form| %>
                                        <%= form.submit "Appeals", :class => 'btn btn-warning' %>
                                    <% end %>
                                </div>
                                <div class="col-4 justify-content-around" id="fines-tab">
                                    <%= form_with :class =>"d-flex justify-content-around", url: fines_tab_path, method: :get do |form| %>
                                        <%= form.submit "Fines", :class => 'btn btn-warning' %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="container-fluid p-0 pr-0 bg-light">
                        <table class="table table-hover" id="officer-work-table">
                            <%= render partial: 'officers/complaints' %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</br>

<div class="container text-center">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" id="officer-master-carousel">
                        <% @complaints.each_with_index do |list, index| %>
                            <%= render partial: 'officers/carousel_item', locals: {list: list, index: index} %>
                        <% end %>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-header">
                                    ID# @complaint.id
                                </div>
                                <img class="card-img-top" src="Gambar3.jpg" alt="Card image cap"/>
                                <div class="card-body">
                                    <h5 class="card-title">Card Example</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <table class="table table-borderless table-hover">
                                        <tbody>
                                            <tr>
                                                <td><%#= list.number_plate %></th>
                                            </tr>
                                            <tr>                                                           <tr>
                                                <td><%#= list.offence %></th>
                                            </tr>
                                            <tr>                                                           <tr>
                                                <td><%#= list.comment %></th>
                                            </tr>
                                            <tr>                                                           <tr>
                                                <td><%#= list.user_id %></th>
                                            </tr>
                                            <tr>                                                           <tr>
                                                <td><%#= list.status %></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="btn btn-primary carousel-approve">Approve</a>
                                    <a href="#" class="btn btn-primary carousel-reject">Reject</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>
</div>



<script>

$(".#carousel-approve").click(function(){
  approveComplaint()
});

function approveComplaint(){
/*
Change Status to Approved # Send "Approve" data to Controller, Source Complaint ID, Send Post Request to Alter DB Table
Request Sent to Remove Card/Row from Carousel/Table # Remove by ID 
Reloads Next Card if Present
*/
xhr.open('post', 'carousel_approve', true);
xhr.send(form)
};

$(".#carousel-reject").click(function(){
  rejectComplaint()
});

function rejectComplaint(){
/*
Change Status to Rejected # Send Post Request to Alter DB Table
Request Sent to Remove Card/Row from Carousel/Table
Reloads Next Card if Present
*/
xhr.open('post', 'carousel_reject', true);
xhr.send(form)
};
</script>