<div class="container">
	<h1>Complaint History</h1>
	<hr/>

		<%@complaints.each_with_index do |c,i|%>
			<table style="width:100%">
			<tr>
				<td>Coordinates: </td>
				<td><%=c.latitude%>,<%=c.longitude%></td>
				<td><%=link_to 'View', show_complaint_path(c) %></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><%=c.address%></td>
			</tr>
			<tr>
				<td>Number Plate: </td>
				<td><%=c.number_plate%></td>
				<td><%=c.id%></td>
			</tr>
			<tr>
				<td>Offence:</td>
				<td><%=c.offence%></td>
			</tr>
			<tr>
				<td>Fine:</td>
				<td>RM <%=c.fine_amount%></td>
			</tr>		
			<tr>
				<td>Comment:</td>
				<td><%=c.comment%></td>
			</tr>
			<tr>
				<td>Image Proof:</td>
			</tr>
			<tr>
				<td></td>
				<td><%=image_tag c.avatar.url, class: "responsive"%></td>
			</tr>
			</table>
		<%end%>
		<hr/>
	
</div>