<div class="container">
	<h1>Complaint <%=@complaint.id%></h1>
</div>

<div class="container">
	<table style="width:100%">
		<tr>
			<td><strong>Complaint filed by:</strong></td>
			<td><%=@complaint.user.full_name%> | ID: <%=@complaint.user.id%></td>
		</tr>
		<tr>
			<td><strong>Offender:</strong></td>
			<%offender=@users.find_by(id:@complaint.offender_id)%>
			<td><%=offender.full_name%> | ID: <%=@complaint.offender_id%> </td>
		</tr>
		<tr>
			<td><strong>Coordinates:</strong></td>
			<td><%=@complaint.latitude%>,<%=@complaint.longitude%></td>
		</tr>
		<tr>
			<td><strong>Address:</strong></td>
			<td><%=@complaint.address%></td>
		</tr>
		<tr>
			<td><strong>Number Plate:</strong></td>
			<td><%=@complaint.number_plate%></td>
		</tr>
		<tr>
			<td><strong>Offence:</strong></td>
			<td><%=@complaint.offence%></td>
		</tr>
		<tr>
			<td><strong>Fine:</strong></td>
			<td>RM <%=@complaint.fine%></td>
		</tr>		
		<tr>
			<td><strong>Comment:</strong></td>
			<td><%=@complaint.comment%></td>
		</tr>

		<tr>
			<td><strong>Image Proof:</strong></td>
		</tr>
		<tr>
			<td></td>
			<td ><%=image_tag @complaint.avatar.url, class: "responsive"%></td>
		</tr>
		</table>
</div>

<br/>
	<% if current_officer %>
		<div class="form-group row">
			<div class= "form-group col-md-1">
				<%= form_for [@complaint, Fine.new] do |f| %>
					<button class="btn btn-primary"> Approve </button>
				<% end %>
			</div>
			<div class= "form-group col-md-1">
				<%= form_with url: complaint_reject_path(@complaint) do |f| %>
					<button class="btn btn-danger"> Reject </button>
				<% end %>
			</div>
		</div>
	<% end %>