<h1> Fine </h1>

<div class="container">
	<table style="width:100%">
		<tr>
			<td>Number Plate: </td>
			<td><%=@fine.complaint.number_plate%></td>
		</tr>
		<tr>
			<td>Location:</td>
			<td><%=@fine.complaint.address%></td>
		</tr>
        <tr>
            <td>Date:</td>
            <td><%=@fine.date%></td>
        </tr>
        <tr>
            <td>Time:</td>
            <td><%=@fine.time%></td>
        </tr>
		<tr>
			<td>Offence:</td>
			<td><%=@fine.offence%></td>
		</tr>
		<tr>
			<td>Fine:</td>
			<td><%=@fine.amount%></td>
		</tr>		
		<tr>
			<td>Given by:</td>
			<td><%=@fine.officer.full_name%></td>
		</tr>

		<tr>
			<td>Image Proof:</td>
		</tr>
		<tr>
			<td></td>
			<td><%=image_tag @fine.complaint.avatar.url , class: "responsive"%></td>
		</tr>
		<tr>
			<td>Status:</td>
			<td><%=@fine.status.capitalize%></td>
		</tr>
		</table>
</div>