<h1> Fine </h1>

<div class="container">
	<table style="width:100%">
		<tr>
			<td><strong>Number Plate:</strong></td>
			<td><%=@fine.complaint.number_plate%></td>
		</tr>
		<tr>
			<td><strong>Location:</strong></td>
			<td><%=@fine.complaint.address%></td>
		</tr>
        <tr>
            <td><strong>Date:</strong></td>
            <td><%=@fine.date%></td>
        </tr>
        <tr>
            <td><strong>Time:</strong></td>
            <td><%=@fine.time%></td>
        </tr>
		<tr>
			<td><strong>Offence:</strong></td>
			<td><%=@fine.offence%></td>
		</tr>
		<tr>
			<td><strong>Fine:</strong></td>
			<td><%=@fine.amount%></td>
		</tr>
		<tr>
			<td><strong>Comment:</strong></td>
			<td><%=@fine.complaint.comment%></td>
		</tr>		
		<tr>
			<td><strong>Given by:</strong></td>
			<td><%=@fine.officer.full_name%></td>
		</tr>

		<tr>
			<td><strong>Image Proof:</strong></td>
			<td><%=image_tag @fine.complaint.avatar.url , class: "responsive"%></td>
		</tr>
		<tr>
			<td><strong>Status:</strong></td>
			<td><%=@fine.status.capitalize%></td>
		</tr>
		</table>
		<% if @fine.status == 'Unpaid' %>
		<div class="align-center padding-10">
        <%=link_to 'Make Payment', new_braintree_payment_path(@fine),class:"btn btn-primary"%>
   		 </div>
        <%#= form_with url: appeal_path(fine), method: :post do |form| %>
            <%#= form.submit "Appeal" %>
        <%# end %>
    	<% end %>
</div>