<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1> Profile </h1> 

            <div class="card border-dark mb-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= " #{@user.full_name} "%></h5>
                    <h5 class="card-title">Email: <%= @user.email %></h5>
                    <h5 class="card-title">Gender: <%= @user.gender %></h5>
                    <h5 class="card-title">IC: <%= @user.ic_number %></h5>
                    <h5 class="card-title">Driving license: <%= @user.driving_license %></h5>
                    <h5 class="card-title">Number plate: <%= @user.number_plate %></h5>

                    <% if @user.id = current_user.id %>
                        <%= link_to 'Edit details', edit_user_registration_path %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>