<!DOCTYPE html>
<html>
  <head>
    <title>Karboom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo to the nav bar -->
  <a class="navbar-brand" href="/">
    <img src="/logo.png" height="50" class="d-inline-block align-top" alt=""> </a>  

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/">Check Fines<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
           <a class="nav-link" href="/complaints/new">Make Complaint<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/complaints">Complaint History<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/users/<%=current_user.id%>">Profile<span class="sr-only">(current)</span></a>  
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to t(".sign_out"), destroy_user_session_path, method: :delete %>
        </div>
      </li>

   <% elsif officer_signed_in? %>
    <% if current_officer.superadmin? %>
      <li class="nav-item active">
        <div class="nav-link">
          <%= link_to t(".officer_list"), officers_path %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to t(".create_officer"), new_officer_registration_path %>  
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to t(".edit_officer"), edit_officer_registration_path %>  
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to t(".profile"), officer_path(current_officer) %>
        </div>
      </li>
    <% end %>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to t(".profile"), officer_path(current_officer) %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to t(".sign_out"), destroy_officer_session_path, method: :delete %>
        </div>
      </li>

    <% else %>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_up">Sign Up<span class="sr-only">(current)</span></a>     
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in">Sign In<span class="sr-only">(current)</span></a>     
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/officers/sign_in">Officer<span class="sr-only">(current)</span></a>    
      </li>    
    <% end %>
    </ul>
  </div>
</nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container mt-2 mb-5">
    <%= yield %>
  </div>
  </body>
</html>